.logo{
    width: 200px;
    height: 100px;
    float: left;
    margin: 50px 0 0 50px;
}
body{
    font-family: "open sans";
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contenedor{
    padding: 60px 0;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}
.titulo{
    color: #642a73;
    font-size: 30px;
    text-align: center;
    margin-bottom: 60px;
    margin-top: 50px;
}
.titol {
    color: #2a3673;
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
}

/* HEADER */

header{
    width: 100%;
    height: 600px;
    background: #bdc3c7;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, rgba(44, 62, 80, 0.6), rgba(189, 195, 199, 0.6)), url("../imatges/fondo1.PNG");  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, rgba(44, 62, 80, 0.6), rgba(189, 195, 199, 0.6)), url("../imatges/fondo1.PNG"); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}
nav{
    text-align: right;
    padding: 30px 50px 0 0;
}
nav > a{
    color: #fff;
    font-weight: 600;
    text-decoration: none;
    margin-right: 25px;
    text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
}
nav > a:hover {
    text-decoration: underline;
}
header .textos-header{
    display: flex;
    height: 200px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction:  column;
    text-align: center;
}
.textos-header h1{
    font-size: 50px;
    color: #fff;
    padding: 40px 0;
}
.textos-header h2{
    font-size: 30px;
    font-weight: 300;
    color: #fff;
    padding: 30px 0;
}
.wave {
    position: absolute;
    bottom: 0;
    width: 100%;
}
/* Main */

main {
    background-color: #b0b4b7;
}

.missatge{
    position: relative;
    top:-60px;
}


/* Xarxes i contacte footer*/
footer{
    background-image: url('../imatges/neumatico.jpg');
    background-repeat: no-repeat;
    height:200px;
    background-position: center;
}
.contenedor-footer{
    justify-content: space-around;
    display: flex;
    padding-top: 50px;
}
.content{
    color: #fff;
    font-weight: 600;
    text-decoration: none;
    margin-right: -15px;
    text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
}
.twitter{
    height: 40px;
    width: 70px;
}
.instagram{
    height: 40px;
    width: 40px;
}
.facebook{
    position: relative;
    height: 60px;
    width: 60px;
    top:10px;
    left:-10px;
.
}
.xarxes{
    text-align: center;
}
.contacte{
    text-align: center;
    color: #FFF;
}

/* RESPONSIVE MEDIA QUERIS*/
@media screen and (max-width:1500px){
    header{
        background-position: center;
    }
@media screen and (max-width:860px){
    .textos-header{
        padding-top: 200px;
    }
    header {
        height: 800px;
    }
}
}